.reply {
    float:right;
    width: 100%;
}

.reply span {
    float:right;
    margin: 6px;
}

#reply_form {
    float:left;
    width: 100%;
}

.reply .reply_form {
    float:left;
    width: 100%;
    display:none;
}

.reply .show {
    display:block;
}

.reply .reply_content {
    width:98%;
    min-height: 30px;
}

.reply .btn-overlay {
    float:right;
}

.reply .reply_list {
    float:left;
    width:99%;
    margin-bottom: 10px;
    border:1px solid red;
}